@model DataWrapper


@{
    Layout = null;
}


<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @foreach (var item in Model.Data)
                    {
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="@Url.Action("Index", "PostPage", new { slug = item.Slug })">
                                <h2 class="post-title">@item.Title</h2>
                                <h3 class="post-subtitle">@item.secondaryTitle</h3>
                            </a>
                            <p class="post-meta">
                                <a href="#!">@item.Author</a>
                                tarafından @item.CreatedAt 'da yüklendi
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    }
                    
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                        @if (@Model.pagenumber == 1)
                        {
                            <a class="btn btn-primary text-uppercase" href="https://localhost:7264/?pagesize=@Model.pagesize&pagenumber=@(Model.pagenumber + 1)">Sonraki Sayfa →</a>
                        }
                        else
                        {
                            <a class="btn btn-primary text-uppercase" href="https://localhost:7264/?pagesize=@Model.pagesize&pagenumber=@(Model.pagenumber - 1)">← Önceki Sayfa</a>
                            <span style="margin: 0 10px;"></span> <!-- Boşluk ekleniyor -->
                            <a class="btn btn-primary text-uppercase" href="https://localhost:7264/?pagesize=@Model.pagesize&pagenumber=@(Model.pagenumber + 1)">Sonraki Sayfa →</a>    
                        }
                        
                    </div>
                    
                </div>
            </div>
        </div>